/* #navbar navbar-expand-lg navbar-light bg-light{ */
#navbarSupportedContent{
    position:relative;
    left:80%;
  }

/* body{
  background: gray;
} */

  h1, h2, h3{
    color:#4AAAA5;
    font-family: Georgia, Times, “Times New Roman”, serif;
    font-size: 24px;
    font-weight: bold;
    /* background:turquoise; */
  }

.navbar {
  padding: 0px 150px 0px 60px;
}

  /* .navbar-brand {
    position: fixed;
    height: 56px;
    width: 90px;
    background: turquoise;
    color:#fff;
    line-height: -10%; */
    /* font-size: large; */
  /* } */

  /* #lat_box{
      color: #fff;
  } */

  /* NOTE:
  col-md-12 :white */
  /* background is gray */

  #title_text{
    color: #fff;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  #logo {
    /* Box-model */
    height: 60px;
    width: 110px;
    padding-top: 20px;
    padding-bottom: 5px;
    /* Positioning */
    position: relative;
    margin-left: 20px;
    font-family: Georgia, Times, “Times New Roman”, serif;
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    /* Visual */
    background: #4AAAA5;
  }

  .col-md-12{
    /* position: relative; */
    margin-bottom: 40px;
    padding: 25px;
    background: white;
  }
  .col-md-4{
    background: white;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-8{
    margin-top: 50px;
    /* margin-left: 5px; */
    width: 100%;
    background: white;
    padding-left: 15px;
    padding-right: 15px;
  }
  body {
    background-color: #ededed;
    overflow-x: hidden;
}

  /* div{
    display: block;
  } */

  /* Adding media queries to change background to white at 600 pixels or less*/
@media (max-width: 600px) {
  body{
    background-color:white;
    overflow-x: hidden;
  }